<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= typeof title !== 'undefined' ? title : 'Auth' %> | Volunteens</title>

    <!-- Common Styles -->
    <link rel="stylesheet" href="/static/stylesheets/common/variables.css">
    <link rel="stylesheet" href="/static/stylesheets/common/reset.css">
    <link rel="stylesheet" href="/static/stylesheets/common/forms.css">
    <link rel="stylesheet" href="/static/stylesheets/pages/auth.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body>
    <%- body %>
</body>
</html>
